.img-container{
    width: 300px;
    margin: auto;
    margin-top: 50px;
}


.custom{
    display: inline-block;
    border: solid thin white;
    color: white;
    background-color: #26408B;
    transition: all ease-in 300ms;
    height: 65px;
    width: 205px;
    margin: 0 25px;
    font-size: 26px;
}

.custom:hover{
    color: #26408B;
    border: solid thin #26408B;
    background-color: white;
}

.watch{
    margin-top: 50px;
    text-align: center;
}

.rating{
    text-align: center;
    margin-top: 100px;
    text-transform: capitalize;
    font-size: 31px;
}

.yellow{
    color: yellow;
}